.a4 {
  width: 210mm;
  height: 296mm;
  padding: 10mm;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  background: white;
}

#pdf {
  page-break-after: avoid;
  page-break-inside: avoid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5mm;
  background-color: #2C3539;
  padding: 5mm 8mm;
  color: white;
  min-height: 25mm;
  overflow: visible !important;
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-box img {
  height: 14mm;
  width: auto !important;
  max-width: 60mm;
  object-fit: contain;
  aspect-ratio: auto;
}


.empresa {
  line-height: 1.4;
  font-size: 10px;
  color: #d1d5db;
}

.orden-box {
  width: 45mm;
  border: 1px solid #000;
  background-color: white;
  color: black;
}

.orden-titulo {
  background: #1f3a5f;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1.5mm;
  font-size: 10px;
}

.orden-numero {
  text-align: center;
  font-size: 18px;
  color: darkred;
  padding: 3mm 0;
}

.datos {
  display: flex;
  gap: 3mm;
  margin-bottom: 3mm;
}

.datos-izq,
.datos-der {
  border: 1px solid #000;
  padding: 2mm;
}

.datos-izq {
  width: 135mm;
}

.datos-der {
  width: 45mm;
}

.linea {
  border-bottom: 1px solid #000;
  padding: 1.5mm 0;
}

.seccion {
  margin-top: 3mm;
}

.seccion-titulo {
  border: 1px solid #000;
  padding: 1.5mm;
  margin-right: 6.8mm;
  font-weight: bold;
  background-color: #f4f4f4;
}

.seccion-cuerpo {
  border: 1px solid #000;
  padding: 2.5mm;
  margin-right: 6.8mm;
  
  white-space: pre-wrap;
}

.seccion-cuerpo.grande {
  min-height: 50mm;
  
}

.seccion-cuerpo.mediana {
  min-height: 25mm;
}

.firmas {
  display: flex;
  margin-top: 12mm;
  margin-right: 6.8mm;
}

.firma-box {
  width: 50%;
  border: 1px solid #000;
  min-height: 32mm;
  padding: 2mm 3mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firma-img {
  max-width: 100%;
  max-height: 14mm;
  display: block;
  margin: 1mm 0;
}

.tecnico-nombre {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 1mm;
}

.cedula-texto {
  font-size: 10px;
  margin-top: 1mm;
  border-top: 1px dotted #ccc;
  padding-top: 1mm;
}